section{
    margin-bottom: 20px;
}

.sthème{ /*bloc de chaque sous-thème*/
    display: flex;
    flex-direction: column;
    background-color: #709ab6;
    margin-bottom:20px;
    
}

.sthème_secteur{
    display: flex;
    flex-direction: column;
    background-color: #709ab6;
    margin-bottom:20px;
    padding-left: 10px;
    

}

.graphique_secteur{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60%;
    margin-bottom: 20px;
}
.graphique_secteur img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90%;
    width: 40%;
}

.sthème h2{
    padding-left: 10px;
}

.partie{ /*partie de paragraphe et photo dans sous-thème*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right :10px;
    justify-content: center;
    margin :10px;

}
.lien_rapport{
    display: flex;
    justify-content: center;
    margin: 20px;
   
}

.para-text {/*plusieurs objets paragraphes et img mais découpe*/
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    
   
}

.para-text p{
    display: flex;
    text-align: justify;
    flex-direction: row;
    width: 40%;
    background-color: whitesmoke;
    padding:20px;
    border-radius: 10px;
    
}

.para-text img{
    display: flex;
    border: 1px solid black;
    width: 45%;
    height: 25%;
    margin: 10px;
    justify-content: center;
    
}

