body, html{
    --couleur1: #1A4844;
    --couleur2: #37636A;
    --couleur3: #537F90;
    --couleur4: #709ab6;
    --couleur5: #8CB5DC;
    --police: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    font-family: var(--police);
}

.sousTitre{
    scroll-margin-top: 80px; /* Déplace la position du scroll vers le bas */
  }

header{
    background-color: var(--couleur2);
    height: 50px;
    position: fixed;
    top : 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

#nav_principal{
    padding-top: 0.5em;
    padding-bottom: 7px;
}

#nav_principal a:hover{
    background-color: var(--couleur1);
    color: var(--couleur5);
}

#selectionner{
    background-color: var(--couleur1);
    color: var(--couleur5);
}

#nav_principal a{
    cursor: pointer;
    padding: 0.5em;
    border-radius: 50px;
}

#nav_principal a{
    color: var(--couleur5);
    text-decoration: none;
}

#nav_sousT a{
    color: black;
    text-decoration: none;
}

header nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

#nav_sousT{
    background-color: var(--couleur3);
    height: 1.2em;
}

#logo_navigation{
    float: left;
    width: 30px;
    height: 49px;
}

main{
    margin-top: 4em;
}

/*Image en tête de page*/
#img_tete_groupe{
    width: 100%;
    height: 700px;
}

#entete{
    position: relative;
}

#titre_tete{
    margin: 0px;
    position: absolute;
    top: calc(50% - 32.5px);
    left: calc(50% - 194.5px);
    background-color: #37636A;
    color: #8cb5dc;
    border: 4px solid black;
    padding: 10px;
}
/*Fin Image en tête de page*/

.window-container{
    display: flex;

    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;

    flex-wrap: wrap;
    gap: 0px;
}

.section1 div, .section2 div{
    text-align: center;
}

.section1 div{
    width: 49%;
    height: 300px;
    border: 2px solid black;
}

.section1 img{
    width: 49%;
    height: 300px;
    float: right;
    padding: 0;
    background-color: white;
}

.section2 div{
    width: 49%;
    height: 300px;
    float: right;
    border: 2px solid black;
}

.section2 img{
    width: 49%;
    height: 300px;
    float: left;
    padding: 0;
    background-color: white;
}

/*footer*/

footer{
    background-color: var(--couleur3);
    height: 200px;
   
}
footer iframe{
    
    float: right;
}

.coordonnées{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 75%;
}



.contributeur{
    display: flex;
    justify-content: left;
    
}



/*fin footer*/



.test{
    height: 1000px;
}

.sous_partie{
    height: 300px;
}
.sous_partie img{
    padding-right: 10%;
    padding-left: 10%;
}

/*texte en z Paul*/


.categorie{
    padding-left: 3%;
}

.texte1{
    width: 50%;
    float: left;
    padding-left: 100px;
    padding-right: 20px;
    background-color: #709ab6;
}

.texte2{
    width: 50%;
    float: right;
    padding-right: 100px;
    padding-left: 20px;
    background-color: #709ab6;
}

/*fin texte en z Paul*/

#vertical-line {
    position: relative;
    left: 40px;
    width: 10px;
    height: 100%;
    background-color: black;
}

.timeline{
    margin-left: 50px;
    height: 1650.5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.circle {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
}

.instruction{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

#timeline_info{
    padding-left: 14.5px;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 10px 5px 5px gray;
}

.frise_img2{
    border: solid;
    width: 400px;
    height: 200px;
    border-radius: 20px;
}

.frise_img{
    display: flex;
    align-items: center;
}

.horizontal{
    flex-direction: row;
    gap: 10px;
}

.vertical{
    flex-direction: column;
}

.frise_text{
    width: 400px;
    height: 200px;
}

#legende_vert{
    border-left: solid #267F00 20px;
    margin: 5px;
    margin-bottom: 20px;
}

#legende_jaune{
    border-left: solid #FFD800 20px;
    margin: 5px;
}

.legende_2000{
    margin-left: 10px;
}

#carte{
    position: relative;
    display: flex;
    justify-content: center;
}

#carte_expansion{
    border-radius: 20px;
}

#contain_left{
    position: relative;
    display: flex;
    justify-content: left;
    border: solid;
    border-radius: 20px;
    padding: 20px;
    background-color: whitesmoke;
}

.img_apparition img {
    visibility: hidden; /* Rendre l'image invisible */
}

.img_apparition:hover img {
    visibility: visible; /* Rendre l'image visible quand la souris passe dessus */
}

#amerique_angle{
    border-radius: 20px;
}

#amerique{
    position: absolute;
    top: 20px;
    left: 20px;
}

#europe{
    position: absolute;
    top: 125px;
    left: 358px;
}

#afrique{
    position: absolute;
    top: 256px;
    left: 350px;
}

#asie{
    position: absolute;
    top: 173px;
    left: 554px;
}

#info_carte_contain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.carte_info{
    background-color: whitesmoke;
    border: solid;
    border-radius: 20px;
    width: 300px;
    box-shadow: 10px 5px 5px gray;
}

.titre_carte{
    display: flex;
    justify-content: center;
    border-bottom: solid;
}

.texte_carte{
    padding: 10px;
}

.texte_carte a{
    color: black;
}

.secteurs>.descr{
    display: flex;
    justify-content: space-evenly;
    flex-basis: auto;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--couleur3);
    width: 80%;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 20px;
}

.secteurs{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-basis: auto;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 2em;
}

.titre{
    position: relative;
}

.titre>h1{
    margin: 0px;
    position: absolute;
    top: calc(50% - 32.5px);
    left: calc(50% - 150.6px);
    background-color: #37636A;
    color: #8cb5dc;
    border: 4px solid black;
    padding: 10px;
}

.titre img{
    width: 100%;
    height: 750px;
}

.sec{
    width: 490px;
}

.tile{
    display: flex;
    position: relative;
    margin: 35px;
    background-color: var(--couleur4);
    padding: 10px;
    border-radius: 20px;
}

.tile>h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    position: absolute;
    color: white;
    width: 100%;
    height: 90%;
}

.tile img {
    width: 100%;
    height:239px;
    border-radius: 20px;
}

.tile-content a, .tile-content h2{
    display: flex;
    text-align: center;
    color: white;
}

.tile>.tile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: var(--couleur3);
    width: 100%;
    height: 100%;
}

.tile-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40%;
}

.tile>.tile-content {
    opacity: 0;
    transition: 0.7s;
    border-radius: 20px;
}

.tile>.tile-content:hover{
    opacity: 1;
    transition: 0.5s;
}

.description {
    width: 60%;
    background-color:  var(--couleur5);
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
}

#histoire,#expansion{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    border: solid;
    border-radius: 20px;
}
